<div class="logo">
					<div class="col-xs-3">
						<a href="/"><img src="/images/logo/logo.png" width="70" height="70"></a>
						</div>
						<div class="col-xs-9">
						<h2 align="left">Aakriti</h2>
						<h4 align="left">College of Engineering,Guindy</h4>
						</div>
					</div>