<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Aakriti-College of Engineering,Guindy</title>
<!-- Bootstrap link -->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Bootstrap link  end-->
<!-- CSS stylesheet -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="all" />
<!-- CSS stylesheet end-->
 <!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!-- Google fonts link start-->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,600italic' rel='stylesheet' type='text/css'>
<!-- Google fonts ends -->
<script src="js/jquery.min.js"></script>
<!-- FlexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<script src="js/modernizr.js"></script>
<link rel="stylesheet" type="text/css" href="/css/aboutus/demo.css" >
 <link rel="stylesheet" type="text/css" href="/css/aboutus/style.css" >
 <link rel="stylesheet" type="text/css" href="/css/aboutus/jquery.jscrollpane.css" media="all" >
	 
</head>
<body>
		<!-- Header starts here -->
			<div class="header">
				<div class="container">
					<div class="logo">
						<a href="/"><img src="/images/logo/logo.png" width="70" height="70"></a>
					</div>
					 <div class="menu">
						<a class="toggleMenu" href="#"><img src="/images/nav_icon.png" alt="" /> </a>
								<ul class="nav" id="nav">
								  <li><a href="/" class="scroll">Home</a></li>
								  <li><a href="/women/index" class="scroll">Women</a></li>
								  <li><a href="/trumpet/index" class="scroll">Trumpet</a></li>
								  <li><a href="/vogue/index" class="scroll">Vogue</a></li>
								  <li><a href="/home/gallery" class="scroll">Gallery</a></li>									 
								 </ul>
				     </div>
				</div>
			</div>
		

            <div id="ca-container" class="ca-container">
<div class="content-row-class2">
						<h3>About Us !!</h3>
					</div>
                    <br><br>
                <div class="ca-wrapper">
                    <div class="ca-item ca-item-1">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <h3>Founder</h3>
                            <h4>
                                <span class="ca-quote">&ldquo;</span>
                                <span>Creativity can be described as letting go of certainties. </span>
                            </h4>
                                <a href="" class="ca-more">more...</a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6>Founder </h6>
                                <a href="#" class="ca-close">close</a>
                                <div class="ca-content-text">
                                    <p>But this question has been revised in the past few years, thanks to the fashion industry. So, now the question is: If you can only fit three items in your clutch, what will they be?</p>
                                    <p>The trend started in 2012 and now these tiny bags were seen at every red carpet. Some of the styles are just straight up small. It's one fashion item that can make you examine what you really need to keep with you at all time.</p>
                                    <p>It's more like the fashion industry is forcing you to narrow down your style choices to just three belongings. So, the next time you want to carry a clutch, just be prepared to carry only what you need.</p>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-2">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <h3>About Us</h3>
                            <h4>
                                <span class="ca-quote">&ldquo;</span>
                                <span>tag-line</span>
                            </h4>
                                <a href="" class="ca-more">more...</a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6>About The Club</h6>
                                <a href="#" class="ca-close">close</a>
                                <div class="ca-content-text">
                                    <p>This is the official Girls Forum of CEG,Anna University,Chennai. AAKRITI is a place to showcast our talents, a goal to seek, a place to learn, a comrade to share. Hence formed AAKRITI - a beautiful image created by God which will over shine everything. </p>                   
                                     <p>The Aakriti, official girl's forum of CEG was inaugurated on 15 th September, 2011.The founder & President of Aakriti club was T.Abinaya. The Vice President was Anjana Chadrasekaran. The general Secretaries were Josephine Nirmala, Dhivya, Rashmi, and Mahishaa. The chief guest was Usha Mahadevan, former Dean, Madras school of social work, Loyola. The function was presided over by former VC Dr.Mannar Jawahar and former Dean Dr.M.Sekar.</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-3">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <h3>Members</h3>
                            <h4>
                                <span class="ca-quote">&ldquo;</span>
                                <span>Alone we can do so little; together we can do so much</span>
                            </h4>
                                <a href="" class="ca-more">more...</a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6>More About Members</h6>
                                <a href="#" class="ca-close">close</a>
                                <div class="ca-content-text">
                                    
                                </div>
                               
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
    
 <br><br><br><br><br><br><br>

		<div class="footer">
			<div class="container">
				<div class="row footer-row">
					<div class="col-md-3 footer-row-left">
                        <div class="social-media">
                            <a target="_blank" href=""><i class="fa1"> </i></a>
                            <a target="_blank" href="https://www.facebook.com/AakritiCEG"><i class="fa2"> </i></a>
                            <a target="_blank" href="https://plus.google.com/101361044105103349462"><i class="fa3"> </i></a>
                            <a target="_blank" href="#"><i class="fa4"> </i></a>
                            <a target="_blank" href="#"><i class="fa5"> </i></a>
                        </div>
                    </div>
                    <div class="col-md-3 footer-row-left">
                        <div class="email-info">
                            &nbsp;&nbsp;<a href="mailto:aakriti.ceg@gmail.com">aakriti.ceg@gmail.com</a>
                        </div>
                    </div>
					<div class="col-md-6 footer-row-left">
						<div class="footer-menu">
							<ul>
								<li><a href="/" class="scroll">Home</a></li>
								  <li><a href="/women/index" class="scroll">Women</a></li>
								  <li><a href="/trumpet/index" class="scroll">Trumpet</a></li>
								  <li><a href="/vogue/index" class="scroll">Vogue</a></li>
								  <li><a href="/home/gallery" class="scroll">Gallery</a></li>	
								  <li class="active"><a href="/home/aboutus" class="scroll">About Us</a></li>
                                  <li><a href="/home/members" class="scroll">Members</a></li>
								
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- Footer ends here-->
		 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript" src="/js/aboutus/jquery.easing.1.3.js"></script>
        <!-- the jScrollPane script -->
        <script type="text/javascript" src="/js/aboutus/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="/js/aboutus/jquery.contentcarousel.js"></script>
        <script type="text/javascript">
            $('#ca-container').contentcarousel();
        </script>
</body>
</html>