<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Aakriti-College of Engineering,Guindy</title>
<!-- Bootstrap link -->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Bootstrap link  end-->
<!-- CSS stylesheet -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" >
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="all" />
<!-- CSS stylesheet end-->
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!-- Google fonts link start-->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,600italic' rel='stylesheet' type='text/css'>
<!-- Google fonts ends -->
<script src="/js/jquery.min.js"></script>
<!-- FlexSlider -->
<script defer src="/js/jquery.flexslider.js"></script>
<script src="/js/modernizr.js"></script>

</head>
<body>
<!-- Header starts here -->
<%= render '/layouts/header'%>

<!-- Header ends here -->
<%= render '/layouts/sidebar'%>


<div class="container">

	<div role="tabpanel">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#Walkathon" style="font-size:15px; font-color:#fff;" aria-controls="home" role="tab" data-toggle="tab">Walkathon</a></li>
			<li role="presentation"><a href="#Inaugration" aria-controls="profile" role="tab" data-toggle="tab">Inaugration</a></li>
			<li role="presentation"><a href="#Women2013" aria-controls="messages" role="tab" data-toggle="tab">Women's Day Celebration 2013</a></li>
			<li role="presentation"><a href="#JoyofGiving" aria-controls="settings" role="tab" data-toggle="tab">Joy of Giving</a></li>
			<li role="presentation"><a href="#TechofesWalkathon" aria-controls="messages" role="tab" data-toggle="tab">Techofes Walkathon</a></li>
			<li role="presentation"><a href="#Women2014" aria-controls="settings" role="tab" data-toggle="tab">Women's Day Celebration 2014</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="Walkathon">
				<div class="row">
					<div class="content-row-class2">
						<h3> Walkathon </h3>
					</div>
					<br><br>
					<ul class="portfolio-items col-4">

						<li class="portfolio-item foreign">

						<img class="gall" src="/images/walk/w.jpg" alt="">

						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">

						<img class="gall" src="/images/walk/w1.jpg" alt="">

						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/walk/w2.jpg" alt="">

						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/walk/w3.jpg" alt="">

						</li><!--/.portfolio-item-->

						<li class="portfolio-item foreign">
						<img  class="gall" src="/images/walk/w4.jpg" alt="">

						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">

						<img class="gall" src="/images/walk/w5.jpg" alt="">

						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/walk/w6.jpg" alt="">

						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/walk/w7.jpg" alt="">

						</li><!--/.portfolio-item-->



					</ul>   

					<hr>

				</div>

			</div>
			<div role="tabpanel" class="tab-pane" id="Inaugration">
				<div class="row">
					<div class="content-row-class2">
						<h3> Inaugration</h3>
					</div>
					<br><br>
					<ul class="portfolio-items col-4">
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/inaugration/5.jpg" alt="">

						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/inaugration/2.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/inaugration/3.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/inaugration/4.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/inaugration/1.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/inaugration/6.png" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/inaugration/7.jpg" alt="">
						</li><!--/.portfolio-item-->

						<li class="portfolio-item foreign">
						<img class="gall" src="/images/inaugration/8.jpg" alt="">
						</li><!--/.portfolio-item-->

					</ul>   
					<hr>

				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="Women2013">
				<div class="row">
					<div class="content-row-class2">
						<h3> Women's Day Celebration 2013</h3>
					</div>
					<br><br>
					<ul class="portfolio-items col-4">
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women/1c.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women/3c.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women/5c.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women/7c.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall"src="/images/women/w1.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women/w3.jpg" alt="">
						</li><!--/.portfolio-item-->

						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women/w2.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women/w4.jpg" alt="">
						</li><!--/.portfolio-item-->



					</ul>   
					<hr>

				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="JoyofGiving">
				<div class="row">
					<div class="content-row-class2">
						<h3>Joy of Giving</h3>
					</div>
					<br><br>
					<ul class="portfolio-items col-4">
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/jog/1.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/jog/5.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/jog/3.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/jog/4.jpg" alt="">
						</li><!--/.portfolio-item-->

						<li class="portfolio-item foreign">
						<img class="gall" src="/images/jog/2.jpg" alt="">
						</li><!--/.portfolio-item-->




					</ul> 
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="TechofesWalkathon">
				<div class="row">
					<div class="content-row-class2">
						<h3> Techofes Walkathon</h3>
					</div>
					<br><br>
					<ul class="portfolio-items col-4">
						<li class="portfolio-item foreign">
						<img class="gall" class="gall" src="/images/twalk/t1.png" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/twalk/t2.png" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/twalk/t3.png" alt="">
						</li><!--/.portfolio-item-->

						<li class="portfolio-item foreign">
						<img class="gall" src="/images/twalk/t5.png" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/twalk/t6.png" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/twalk/t7.png" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/twalk/t8.png" alt="">
						</li><!--/.portfolio-item-->

						<li class="portfolio-item foreign">
						<img class="gall" src="/images/twalk/t10.png" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/twalk/t11.png" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/twalk/t12.png" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/twalk/t13.png" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/twalk/t14.png" alt="">
						</li><!--/.portfolio-item-->
					</ul>   

				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="Women2014">
				<div class="row">
					<div class="content-row-class2"> 
						<h3> Women's Day Celebration 2014 </h3>
					</div>
					<br><br>
					<ul class="portfolio-items col-4">
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women14/1.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women14/2.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women14/3.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women14/4.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women14/5.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women14/6.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women14/7.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women14/8.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women14/9.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women14/10.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women14/11.jpg" alt="">
						</li><!--/.portfolio-item-->
						<li class="portfolio-item foreign">
						<img class="gall" src="/images/women14/12.jpg" alt="">
						</li><!--/.portfolio-item-->



					</ul>   
					<hr>
				</div>
			</div>
		</div>

	</div>







</div>          



<!-- Contents ends here -->
<!-- Footer starts here-->
<div class="footer">
	<div class="container">
		<div class="row footer-row">
			<div class="col-md-3 footer-row-left">
				<div class="social-media">
					<a target="_blank" href=""><i class="fa1"> </i></a>
					<a target="_blank" href="https://www.facebook.com/AakritiCEG"><i class="fa2"> </i></a>
					<a target="_blank" href="https://plus.google.com/101361044105103349462"><i class="fa3"> </i></a>
					<a target="_blank" href="#"><i class="fa4"> </i></a>
					<a target="_blank" href="#"><i class="fa5"> </i></a>
				</div>
			</div>
			<div class="col-md-3 footer-row-left">
				<div class="email-info">
					<button class="btn btn-link" data-toggle="modal" data-target="#contact">
						Contact Us !!
					</button>

				</div>
			</div>
			<div class="col-md-6 footer-row-left">
				<div class="footer-menu">
					<ul>
						<li><a href="/" class="scroll">Home</a></li>
						<li><a href="/women/index" class="scroll">Women</a></li>
						<li><a href="/trumpet/index" class="scroll">Trumpet</a></li>
						<li><a href="/vogue/index" class="scroll">Vogue</a></li>
						<li class="active"><a href="/home/gallery" class="scroll">Gallery</a></li>
						<li><a href="/home/aboutus" class="scroll">About Us</a></li>
						<li><a href="/home/members" class="scroll">Members</a></li>


					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Contact</h4>
			</div>
			<div class="modal-body">
				<!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
				<div class="border" style="height:320px">
					<iframe width="450" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?hl=en&amp;safe=off&amp;q=Anna+University,+Chennai,+Tamil+Nadu+Arts+%26+Crafts+Store,+College+Bookstore&amp;ie=UTF8&amp;hq=Arts+%26+Crafts+Store,+College+Bookstore&amp;hnear=Anna+University+Parking,+Chennai,+Tamil+Nadu&amp;t=h&amp;iwloc=lyrftr:h,13984805977349966441,13.011347,80.23552&amp;ll=13.011632,80.235783&amp;spn=0.001419,0.002642&amp;output=embed"></iframe><br>
				</div>

				<p>  Phone:
				<strong>1234567890</strong>
				<br> 
				Email:
				<strong><a href="mailto:aakriti.ceg@gmail.com">aakriti.ceg@gmail.com</a></strong>
				<br>
				Address:
				<strong><br>College of Engineering Guindy
					<br>Sardar Patel Rd
					<br>Chennai, Tamil Nadu 600026</strong>
				</p>
			</div>

		</div>
	</div>


</div>
<!-- Footer ends here-->

</body>
</html>     
