<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Aakriti-College of Engineering,Guindy</title>
<!-- Bootstrap link -->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Bootstrap link  end-->
<!-- CSS stylesheet -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="all" />
<!-- CSS stylesheet end-->
 <!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!-- Google fonts link start-->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,600italic' rel='stylesheet' type='text/css'>
<!-- Google fonts ends -->
<script src="/js/jquery.min.js"></script>
<!-- FlexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<script src="js/modernizr.js"></script>
</head>
<body>
		<!-- Header starts here -->
			<div class="header">
				<div class="container">
					<div class="logo">
						<a href="/"><img src="/images/logo/logo.png" width="70" height="70"></a>
					</div>
					 <div class="menu">
						<a class="toggleMenu" href="#"><img src="images/nav_icon.png" alt="" /> </a>
								<ul class="nav" id="nav">
								  <li><a href="/home/index" class="scroll">Home</a></li>
								  <li><a href="/women/index" class="scroll">Women</a></li>
								  <li><a href="/trumpet/index" class="scroll">Trumpet</a></li>
								  <li><a href="/vogue/index" class="scroll">Vogue</a></li>
								  <li class="current"><a href="/home/gallery" class="scroll">Gallery</a></li>	
								 </ul>
				     </div>
				</div>
			</div>
		<!-- Header ends here -->
		
		<div class="container">
		<div class="row">
	    <h2 align="center"> Walkathon </h2>
                <ul class="portfolio-items col-4">
                
                   <li class="portfolio-item foreign">
                        
                                <img class="gall" src="/images/walk/w.jpg" alt="">
                            
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        
                                <img class="gall" src="/images/walk/w1.jpg" alt="">
                           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/walk/w2.jpg" alt="">

                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                             <img class="gall" src="/images/walk/w3.jpg" alt="">
                            
                    </li><!--/.portfolio-item-->
                    
                    <li class="portfolio-item foreign">
                               <img  class="gall" src="/images/walk/w4.jpg" alt="">
                            
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                       
                                <img class="gall" src="/images/walk/w5.jpg" alt="">
                            
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                         		<img class="gall" src="/images/walk/w6.jpg" alt="">
                            
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/walk/w7.jpg" alt="">
                            
                    </li><!--/.portfolio-item-->
                    
                   
                   
                   </ul>   

                    <hr>

                   </div>
					<div class="row">
                   <h2 align="center"> Inaugration</h2>
                <ul class="portfolio-items col-4">
                   <li class="portfolio-item foreign">
                                <img class="gall" src="/images/inaugration/5.jpg" alt="">
                            
                    </li><!--/.portfolio-item-->
                   <li class="portfolio-item foreign">
                                <img class="gall" src="/images/inaugration/2.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/inaugration/3.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/inaugration/4.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/inaugration/1.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/inaugration/6.png" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/inaugration/7.jpg" alt="">
                    </li><!--/.portfolio-item-->
                  
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/inaugration/8.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    
                   </ul>   
                    <hr>

                   </div>
					<div class="row">
                   <h2 align="center"> Women's Day Celebration 2013</h2>
                <ul class="portfolio-items col-4">
                   <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women/1c.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women/3c.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women/5c.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women/7c.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall"src="/images/women/w1.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women/w3.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women/w2.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women/w4.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    
                   
                   
                   </ul>   
                   <hr>

                   </div>
					<div class="row">
                   <h2 align="center">Joy of Giving</h2>
                <ul class="portfolio-items col-4">
                   <li class="portfolio-item foreign">
                                <img class="gall" src="/images/jog/1.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/jog/5.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/jog/3.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/jog/4.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/jog/2.jpg" alt="">
                    </li><!--/.portfolio-item-->
                  
                    
                    
                   
                   </ul> 
                   </div>
					<div class="row">
                   <h2 align="center"> Techofes Walkathon</h2>
                   <ul class="portfolio-items col-4">
                   <li class="portfolio-item foreign">
                                 <img class="gall" class="gall" src="/images/twalk/t1.png" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/twalk/t2.png" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/twalk/t3.png" alt="">
                    </li><!--/.portfolio-item-->
                     
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/twalk/t5.png" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/twalk/t6.png" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/twalk/t7.png" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/twalk/t8.png" alt="">
                    </li><!--/.portfolio-item-->
                    
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/twalk/t10.png" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/twalk/t11.png" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/twalk/t12.png" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/twalk/t13.png" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/twalk/t14.png" alt="">
                    </li><!--/.portfolio-item-->
                   </ul>   
                   
                   
                   
                   </div>
					<div class="row">
                    
                   <h2 align="center"> Women's Day Celebration 2014 </h2>
                <ul class="portfolio-items col-4">
                   <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women14/1.jpg" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women14/2.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women14/3.jpg" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women14/4.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women14/5.jpg" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women14/6.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women14/7.jpg" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women14/8.jpg" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women14/9.jpg" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women14/10.jpg" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women14/11.jpg" alt="">
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                                <img class="gall" src="/images/women14/12.jpg" alt="">
                    </li><!--/.portfolio-item-->
                    
                   
                   
                   </ul>   
                   <hr>
         </div>
         </div>          
               
         
	 
		<!-- Contents ends here -->
		<!-- Footer starts here-->
		<div class="footer">
			<div class="container">
				<div class="row footer-row">
					<div class="col-md-3 footer-row-left">
						<div class="social-media">
							<a href="#"><i class="fa1"> </i></a>
							<a href="#"><i class="fa2"> </i></a>
							<a href="#"><i class="fa3"> </i></a>
							<a href="#"><i class="fa4"> </i></a>
							<a href="#"><i class="fa5"> </i></a>
						</div>
					</div>
					<div class="col-md-3 footer-row-left">
						<div class="email-info">
							<input type="text"size="25px" value="info@companyname.com"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'info@companyname.com';}" style="margin-left: 10px" >
						</div>
					</div>
					<div class="col-md-6 footer-row-left">
						<div class="footer-menu">
							<ul>
								<li class="active"><a href="/home/index" class="scroll">Home</a></li>
								  <li><a href="/women/index" class="scroll">Women</a></li>
								  <li><a href="/trumpet/index" class="scroll">Trumpet</a></li>
								  <li><a href="/vogue/index" class="scroll">Vogue</a></li>
								  <li class="current"><a href="/home/gallery" class="scroll">Gallery</a></li>	
								
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				 <p class="footer-row-para">2014 &copy; Template by <a href="http://w3layouts.com/">W3layouts.com</a></p>
			</div>
		</div>
		<!-- Footer ends here-->
        
		</body>
</html>