<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Aakriti-College of Engineering,Guindy</title>
<!-- Bootstrap link -->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Bootstrap link  end-->
<!-- CSS stylesheet -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="all" />
<!-- CSS stylesheet end-->
 <!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!-- Google fonts link start-->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,600italic' rel='stylesheet' type='text/css'>
<!-- Google fonts ends -->
<script src="js/jquery.min.js"></script>
<!-- FlexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<script src="/js/modernizr.js"></script>
<script type="text/javascript">
        $(function(){
			      SyntaxHighlighter.all();
			    });
			    $(window).load(function(){
			      $('.flexslider').flexslider({
			        animation: "slide",
			        start: function(slider){
			          $('body').removeClass('loading');
			        }
			      });
			    });
			  </script>
</head>
<body>
		<!-- Header starts here -->
			<div class="header">
				<div class="container">
					<div class="logo">
						<a href="/"><img src="/images/logo/logo.png" width="70" height="70"></a>
					</div>
					 <div class="menu">
						<a class="toggleMenu" href="#"><img src="/images/nav_icon.png" alt="" /> </a>
								<ul class="nav" id="nav">
								  <li class="current"><a href="/" class="scroll">Home</a></li>
								  <li><a href="/women/index" class="scroll">Women</a></li>
								  <li><a href="/trumpet/index" class="scroll">Trumpet</a></li>
								  <li><a href="/vogue/index" class="scroll">Vogue</a></li>
								  <li><a href="/home/gallery" class="scroll">Gallery</a></li>									 
								 </ul>
				     </div>
				</div>
			</div>
		<!-- Header ends here -->
		<!-- Banner starts here -->
			<div class="banner">
				<div class="container">
						<div class="slider-background">
						<section class="slider">
					        <div class="flexslider">
					          <ul class="slides">
					            <li>
					  	    	    <img src="/images/home/slide-3.jpg" alt=""/>
					  	    		</li>
					  	    		<li>
					  	    	    <img src="/images/home/slide-2.jpg" alt=""/>
					  	    		</li>
					  	    		<li>
					  	    	    <img src="/images/home/slide-7.jpg" alt=""/>
					  	    		</li>
					  	    		<li>
					  	    	    <img src="/images/home/slide-4.jpg" alt=""/>
					  	    		</li>
					  	    		<li>
					  	    	    <img src="/images/home/slide-5.jpg" alt=""/>
					  	    		</li>
					  	    		<li>
					  	    	    <img src="/images/home/slide-6.jpg" alt=""/>
					  	    		</li>
					          </ul>
					        </div>
					      </section>
					      <div class="banner-below-content">
					      	<h2>Sed ut perspiciatis unde <span>omnis iste natus error sit</span> volup iont tat</h2>
					      	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praese</p>
					      	<a href="/home/gallery"><i>Gallery</i></a>
					      	
					      </div>
					</div>
				</div>
			</div>
		<!-- Banner ends here -->
		<!-- Contents start here -->
			<div class="content">
				<div class="container">
					<div class="portfolio-start">
					<div class="content-row-class2">
						<h3>Updates</h3>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praese</p>
					</div>
					
		  <div class="container">
			 <div class="content-top">
				
				
				<div class="clearfix"></div>
		    </div>
		    <div class="content-top">
		        <div class="col-xs-4">
				<div class="col_1_of_projects span_1_of_projects"><a href="#">
				   <div class="view view-fourth">
                    <img src="/images/home/veena.jpg" class="img-responsive" />
                    <div class="mask">
                        <h2>Veena Classes</h2>
                        <p class="updates">Veena classes will be conducted for girls of CEG, exclusively for 2nd and 3rd years. Please avail this wonderful opportunity. Classes will be conducted by a renowned Veena expert. <br>
                         <b>Contact: </b>
                         <br>
                         1.S.Sivaranjini – 9994171105<br>
                         2.M.Priyanka – 8754762211.
                         
                         <br>
                          <b>First month free. Interested people can continue at a discounted fee.</b>
                          </p>
                    </div>
                </div>
                </a> </div>
                </div>
                <div class="col-xs-4">
				 <div class="col_1_of_projects span_1_of_projects"><a href="#">
				   <div class="view view-fourth">
                    <img src="/images/home/ps.png" class="img-responsive" />
                    <div class="mask">
                        <h2>PhotoShop</h2>
                        <p class="updates">Aakriti, the official Girls forum of CEG conducted a PHOTOSHOP WORKSHOP exclusively for the girls of CEG on 4th August 2014. The response was good and through Aakriti the girls were able to get quite a good insight into the World of Photoshop  -  Getting Started with Photoshop and using effective techniques of editing images.</p>
                    </div>
                </div>
                </a> </div>
                </div>
                <div class="col-xs-4">
				 <div class="col_1_of_projects span_1_of_projects"><a href="#">
				   <div class="view view-fourth">
                    <img src="/images/home/noimage.jpg" class="img-responsive" />
                    <div class="mask">
                        <h2>Updates</h2>
                        <p class="updates">Aakriti is celebrating its 3rd anniversary this September 15th. Owing to this, a few events will be conducted along with the launch of this website by our honourable Dean of CEG on the auspicious day. Aakriti is looking forward to the enthusiasm of every girl from CEG towards joining the forum and being actively involved in all activities of Aakriti.</p>
                    </div>
                </div>
                </a> </div>
                </div>
				<div class="clearfix"></div>
		    </div>
				
					
				</div>
		</div>
					<div class="content-row-class2">
						<h3> More about Aakriti</h3>
						<p>(Wish any tag line yu want)</p>
					</div>
					<div class="row content-row-class3">
						<div class="col-md-6 content-class3-column">
							<div class="row class3-row">
								<div class="col-md-6 class3-row-column">
									<img src="/images/home/wa-collage.jpg" />
								</div>
								<div class="col-md-6 class3-row-column">
									<h3>Women Achievers</h3>
									<p>Women have a wonderful instinct about things. They can discover everything except the obvious.</p>
									<a href="/women/index">More Info</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 content-class3-column">
							<div class="row class3-row">
								<div class="col-md-6 class3-row-column">
									<img src="/images/home/t-collage.jpg" />
								</div>
								<div class="col-md-6 class3-row-column">
									<h3>Trumpet</h3>
									<p>Aenean feugiat blandit velit, posuere condimentum felis dapibus id. </p>
									<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Intaliquam mas.</p>
									<a href="/trumpet/index">More Info</a>
								</div>
							</div>
						</div>
					</div>
				
					
				</div>
			</div>
		<!-- Contents ends here -->
		<!-- Footer starts here-->
		<div class="footer">
			<div class="container">
				<div class="row footer-row">
					<div class="col-md-3 footer-row-left">
						<div class="social-media">
							<a href="#"><i class="fa1"> </i></a>
							<a href="#"><i class="fa2"> </i></a>
							<a href="#"><i class="fa3"> </i></a>
							<a href="#"><i class="fa4"> </i></a>
							<a href="#"><i class="fa5"> </i></a>
						</div>
					</div>
					<div class="col-md-3 footer-row-left">
						<div class="email-info">
							<input type="text"size="25px" value="info@companyname.com"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'info@companyname.com';}" style="margin-left: 10px" >
						</div>
					</div>
					<div class="col-md-6 footer-row-left">
						<div class="footer-menu">
							<ul>
								<li class="active"><a href="/" class="scroll">Home</a></li>
								  <li><a href="/women/index" class="scroll">Women</a></li>
								  <li><a href="/trumpet/index" class="scroll">Trumpet</a></li>
								  <li><a href="/vogue/index" class="scroll">Vogue</a></li>
								  <li><a href="/home/gallery" class="scroll">Gallery</a></li>
								  <li><a href="/home/aboutus" class="scroll">About Us</a></li>	
								  <li><a href="/home/members" class="scroll">Members</a></li>							  	
								
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- Footer ends here-->
</body>
</html>