<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Aakriti-College of Engineering,Guindy</title>
<!-- Bootstrap link -->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Bootstrap link  end-->
<!-- CSS stylesheet -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="all" />
<!-- CSS stylesheet end-->
 <!-- Custom Theme files -->
 
<!-- Google fonts ends -->
<script src="/js/jquery.min.js"></script>
</head>
<body>
		<!-- Header starts here -->
			<%= render '/layouts/header'%>
		<!-- Header ends here -->
        <%= render '/layouts/sidebar'%>

        <div class="content-row-class2">
                        <h3>Vogue</h3>
                    </div>          
        <div class="contents">
        <div class="container">
		<div id="wd-wrapper" class="wd-wrapper">
                <div class="wd-slider"></div>
                <div class="wd-scroll-wrapper">
                    <div class="wd-container">

                        <div class="wd-element" >
                            <img src="/images/vogue/1.png" >
                            <div class="wd-info">
                                <div class="wd-info-title">
                                    <h2>Clutches</h2>
                                </div>
                                <div class="wd-info-desc">
                                    <p>
                            <span>You have been asked many times: What will you carry with yourself if you're marooned on an island? </span>
                            <div><p><i>But this question has been revised in the past few years, thanks to the fashion industry. So, now the question is: If you can only fit three items in your clutch, what will they be?</i></p>
                            

                            </div>
                        </p>
                                </div>
                            </div>
                        </div>
                        <div class="wd-element">
                            <img src="/images/vogue/2.png" />
                            <div class="wd-info">
                                <div class="wd-info-title">
                                    <h2>Clutches</h2>
                                </div>
                                <div class="wd-info-desc">
                                   <p>The trend started in 2012 and now these tiny bags were seen at every red carpet. Some of the styles are just straight up small. It's one fashion item that can make you examine what you really need to keep with you at all time.</p>
                            <p>It's more like the fashion industry is forcing you to narrow down your style choices to just three belongings. So, the next time you want to carry a clutch, just be prepared to carry only what you need.</p>
                                </div>
                            </div>
                        </div>
                        <div class="wd-element">
                            <img src="/images/vogue/3.png" />
                            <div class="wd-info">
                                <div class="wd-info-title">
                                    <h2>Clutches-folded ones</h2>
                                </div>
                                <div class="wd-info-desc">
                                <p><i>Fold over clutch bags are the latest rage with stylish women.</i></p>
                            <p>
                                Clutch bags have taken the world by the storm. From the biggest fashion designers to actresses all over the world to business women and even a homemaker - a clutch bag has made home in every woman's wardrobe.
                             </p>
                             <p>   But what has caught fancy of millions lately is the fold over clutch bag - a clutch made of cloth or leather or any such material, which is then folded into half and carried with panache. The biggest hits when it comes to a fold over clutch are animal prints, leather, sequin, candy floss colored, print messages, animated characters, floral prints are in for fold over clutch bags.</p>
                                </div>
                            </div>
                        </div>
                        <div class="wd-element">
                            <img src="/images/vogue/4.png" />
                            <div class="wd-info">
                                <div class="wd-info-title">
                                    <h2>Clutches-folded ones</h2>
                                </div>
                                <div class="wd-info-desc">
                                    <p>The fold over clutch bag has made its way into the list of most popular and glamorous handbags. Actresses from Emma Watson to Gwyneth Paltrow and celebs like Victoria Beckham to Kim Kardashian have sported these in different shapes, sizes and makes. Back home, it is actresses like Amrita Arora, Malaika Arora Khan, Shilpa Shetty Kundra, Shraddha Kapoor and Kareena Kapoor have flaunted the fold over bags.</p>
                             <p>So get an oversized bag in some funky print, and fold it into half and step out in style!</p>
                       
                                </div>
                            </div>
                        </div>
                        <div class="wd-element">
                            <img src="/images/vogue/5.png" />
                            <div class="wd-info">
                                <div class="wd-info-title">
                                    <h2>Orange- the in colour!!</h2>
                                </div>
                                <div class="wd-info-desc">
                                    <p><i>The fruity hue is a ramp favorite and is gaining popularity as a red carpet option too</i></p>
                            <p>
                                No, it is not the TV show we are talking about! There was a time when colors like red and black rules the red carpet and design circles perpetually. But with designers experimenting with more and more bold hues day by day, the colour orange has gained a new life on the red carpet. More and more supermodels and actresses are sporting variations of the fruity hue in all their outings. </p>
                                </div>
                            </div>
                        </div>
                        <div class="wd-element">
                            <img src="/images/vogue/6.png" />
                            <div class="wd-info">
                                <div class="wd-info-title">
                                    <h2>Orange- the in colour!!</h2>
                                </div>
                                <div class="wd-info-desc">
                                     <p> 
                                The fiery hue in shades ranging from sunshine orange to pumpkin shade to candy floss orange to a carroty red - every shade of this color is in vogue lately. Wearing a simple LBD or a long red gown to a party seems to be passe now. It is the bright and bold shades that are turning heads and yes, orange is on top of the list of most fashionistas.
                             </p>
                             <p>So stack up on this unusual colour. Make sure you buy a nice orange one-piece that ends just above the knees for the summers; or go for a flowy orange top with skinny jeans for that causal outing. You can even buy a long orange maxi dress for a beach outing!</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="wd-element">
                            <img src="/images/vogue/8.png" />
                            <div class="wd-info">
                                <div class="wd-info-title">
                                    <h2>NOMCORE</h2>
                                </div>
                                <div class="wd-info-desc">
                                     <p>
                                Fashion has always been repetition of ideas and all about reliving and creating new trends. With every New Year, shoppers and retailers are bombarded with the latest items and looks for the season. Designers and fashion forecasters predict the future of fashion and the styles that will reign on and off the runway. Some styles are classic and linger forever while some are ephemeral. Staying trendy requires one to follow and keep track of the season's colours, prints, styles, and looks to stay hip.</p>
                                <p>The latest buzz that has hit the fashion scene is the anti-fashion trend called "Normcore". An American trend forecasting team coined the term which is an amalgamation of two main words namely "normal" and "hardcore". They predicted normcore to be the next big fashion movement. The term has caused fashion frenzy and after a leading magazine wrote about the look, it went viral online. </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="wd-element">
                            <img src="/images/vogue/8.png" />
                            <div class="wd-info">
                                <div class="wd-info-title">
                                    <h2>NOMCORE</h2>
                                </div>
                                <div class="wd-info-desc">
                                      <p>After all what is Normcore? The basic attitude of the normcore style is unlike any fashion trend to look different and stand apart, it is rather a look to fit in the crowd and a conscious effort to look effortless. For the team behind the term, Normcore is a result of saturation from the trying hard to stand out phase and changing wardrobes to look stylish and suit a trend. The exhaustion from the constant change in fashion cycles has led to adaptation of styles that are basic and is heading towards wearing more staples. </p>
                                <p>Normcore is suitable for individuals who do not want to associate themselves with fleeting trends and seasonal must haves. The forecasters of Normcore have taken fashion cues from popular icons like Jerry Seinfeld and Steve Jobs, describing their styles to be the epitome of normcore.</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="wd-element">
                            <img src="/images/vogue/8.png" />
                            <div class="wd-info">
                                <div class="wd-info-title">
                                    <h2>NOMCORE</h2>
                                </div>
                                <div class="wd-info-desc">
                                     <p>
                                 The laid back looks of the 90s with oversized T-shirts, boxy jeans, and the fleece have become a perfect ensemble to stay aggressively unfashionable. Large fashion retailers like Jack & Jones, Esprit, Abercrombie & Fitch, Superdry, Woolrich, Desigual, Scotch & Soda, Closed, and Marc O'Polo are endorsing the trend in a big way with clothes suiting the normcore. </p>
                                <p>While some fashion critics believe that Normcore is just a part and parcel of the normal course of a fashion cycle. And fashion has always been about having an individual style and looking a certain way. Normcore steals the whole idea of being unique and the thrill of new...
                            </p>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div> 
            </div>
            </div>

		
		
		
		
		<!-- Aboutus ends here -->
		<!-- Footer starts here-->
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="footer">
            <div class="container">
                <div class="row footer-row">
                    <div class="col-md-3 footer-row-left">
                        <div class="social-media">
                            <a target="_blank" href=""><i class="fa1"> </i></a>
                            <a target="_blank" href="https://www.facebook.com/AakritiCEG"><i class="fa2"> </i></a>
                            <a target="_blank" href="https://plus.google.com/101361044105103349462"><i class="fa3"> </i></a>
                            <a target="_blank" href="#"><i class="fa4"> </i></a>
                            <a target="_blank" href="#"><i class="fa5"> </i></a>
                        </div>
                    </div>
                    <div class="col-md-3 footer-row-left">
                       <div class="email-info">
                            <button class="btn btn-link" data-toggle="modal" data-target="#contact">
                                    Contact Us !!
                            </button>
                        
                        </div> </div>
                    <div class="col-md-6 footer-row-left">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/" class="scroll">Home</a></li>
                                  <li><a href="/women/index" class="scroll">Women</a></li>
                                  <li><a href="/trumpet/index" class="scroll">Trumpet</a></li>
                                  <li class="active"><a href="/vogue/index" class="scroll">Vogue</a></li>
                                  <li><a href="/home/gallery" class="scroll">Gallery</a></li>   
                                  <li><a href="/home/aboutus" class="scroll">About Us</a></li>
                                  <li><a href="/home/members" class="scroll">Members</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Contact</h4>
                                        </div>
                                    <div class="modal-body">
                    <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                                      <div class="border" style="height:320px">
                                        <iframe width="450" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?hl=en&amp;safe=off&amp;q=Anna+University,+Chennai,+Tamil+Nadu+Arts+%26+Crafts+Store,+College+Bookstore&amp;ie=UTF8&amp;hq=Arts+%26+Crafts+Store,+College+Bookstore&amp;hnear=Anna+University+Parking,+Chennai,+Tamil+Nadu&amp;t=h&amp;iwloc=lyrftr:h,13984805977349966441,13.011347,80.23552&amp;ll=13.011632,80.235783&amp;spn=0.001419,0.002642&amp;output=embed"></iframe><br>
                                    </div>

                                    <p>  Phone:
                                    <strong>1234567890</strong>
                                    <br> 
                                    Email:
                                    <strong><a href="mailto:aakriti.ceg@gmail.com">aakriti.ceg@gmail.com</a></strong>
                                    <br>
                                    Address:
                                    <strong><br>College of Engineering Guindy
                                    <br>Sardar Patel Rd
                                    <br>Chennai, Tamil Nadu 600026</strong>
                                    </p>
                                    </div>
                
                                    </div>
                                    </div>
                                

                            </div>
		
		
        
</body>
</html>
