// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.row {
    margin: 80px 0px 80px 0px;
    }

img.gall {
    margin: 10px 10px 10px 10px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 1.3s;
    -webkit-transition-duration: 1.3s; /* Safari */
    }

img:hover.gall {
	cursor: pointer;
	-webkit-transform: scale(1,1);
    -ms-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5 );
    transition-duration: 1.3s;
    -webkit-transition-duration: 1.3s; /* Safari */
    z-index: 1;
    }



.back {
    transform: rotateY(180deg);
}
.flip-container, .front, .back {
    width: 320px;
    height: 290px;
}

.flip-container, .front, .back {
    width: 320px;
    height: 290px;
}
* {
    box-sizing: border-box;
}
.text-center {
    text-align: center;
}
body {
    font-family: Roboto;
    font-size: 14px;
    color: #454545;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
}