<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Aakriti-College of Engineering,Guindy</title>

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/prettyPhoto.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<!-- Bootstrap link -->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Bootstrap link  end-->
<!-- CSS stylesheet -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="all" />




<link rel="stylesheet" type="text/css" href="/css/pluton/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/pluton/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" href="/css/pluton/style.css" />
<link rel="stylesheet" type="text/css" href="/css/pluton/pluton.css" />
<!--[if IE 7]>
	    <link rel="stylesheet" type="text/css" href="css/pluton-ie7.css" />
	<![endif]-->
<!-- CSS stylesheet end-->
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!-- Google fonts link start-->

<!-- Google fonts ends -->
<script src="/js/jquery.min.js"></script>
</head>
<body>
<!-- Header starts here -->
<%= render '/layouts/header'%>
<!-- Header ends here -->
<%= render '/layouts/sidebar'%>





<div class="triangle"></div>
<div class="container">
	<div class=" title">
		<h1>Have You Seen our Works?</h1>
	</div>

	<!-- Start details for portfolio project 1 -->
	<div id="single-project">
		<div id="slidingDiv" class="toggleDiv row-fluid single-project">
			<div class="span4">
				<img src="/images/wa/oprah.jpg" alt="project 1" />
			</div>
			<div class="span8">
				<div class="project-description">
					<div class="project-title clearfix">
						<h3>Oprah Winfrey</h3>
						<span class="show_hide close">
							<i class="glyphicon glyphicon-minus"></i>
						</span>
					</div>
					<div class="project-info">
						<div>
							<span12 style="color:#FECE1A;">“Passion is energy. Feel the power that comes from focusing on what excites you.”</span12>
						</div>

					</div>

					<p>	“Oprah Winfrey” reminds us of hard work and determination. She has been through all possible struggles in her life. Yet, her determination has motivated her to be what she is today.
					Born to unwed teenage parents in Mississippi, this media mogul wore dresses that her grandmother made out of potato sacks. After being molested, she run away at the age of 13 and became a mother at 14, but her son died in infancy. But this didn’t deter her courage. Sent to live with his father, a barber in Tennessee, she got a full scholarship in college, won a beauty pageant and was discovered by a radio station. Her empire is now worth $2.7 billion which she shares with the world through her philanthropic works.</p>
					<p>
					She had proved the world that women are in no way inferior to men. Winfrey's open, warm-hearted personal style had won her a million hearts.
					Oprah had hosted the most popular talk show. With talk shows becoming increasingly trashy and exploitative, Winfrey pledged to keep her show free of tabloid topics. Although ratings initially fell, she earned the respect of her viewers and was soon rewarded with an upsurge in popularity.
					According to Forbes magazine, Oprah was the richest African American of the 20th century and the world's only Black billionaire for three years running. Life magazine hailed her as the most influential woman of her generation. In 2005, Business Week named her the greatest Black philanthropist in American history. Oprah's Angel Network has raised more than $51,000,000 for charitable programs, including girls' education in South Africa and relief to the victims of Hurricane Katrina.
					She has indeed proved that a women can withstand all hardships and yet be successful in their life.
					</p>
				</div>
			</div>
		</div>
		<!-- End details for portfolio project 1 -->
		<!-- Start details for portfolio project 2 -->
		<div id="slidingDiv1" class="toggleDiv row-fluid single-project">
			<div class="span4">
				<img src="/images/wa/chinnapillai1.jpg" alt="project 2">
			</div>
			<div class="span8">
				<div class="project-description">
					<div class="project-title clearfix">
						<h3>Mrs.Chinna Pillai</h3>
						<span class="show_hide close">
							<i class="glyphicon glyphicon-minus"></i>
						</span>
					</div>
					<div class="project-info">
						<div>
							<span12 style="color:#FECE1A;">SELFLESS AND UNTIRING SERVICE FOR THE POOR WOMEN!!</span12>
						</div>

					</div>

					<p>Mrs.Chinna Pillai was one of five women to receive the Stree Shakti Puraskar in 1999. In a picture perfect moment for the press, then-Prime Minister Atal Bihari Vajpayee bowed down in respect and touched her feet while presenting her with the award.</p>

					Mrs. Chinnapillai was born in Pullisery village, Madurai District. She has been deeply involved in organising and working with co-agricultural labourers for undertaking various agricultural operations on a collective basis to maximise benefits.</p>
					<p>
					She was the founder of a number of Kalanjiams (savings and credit groups) of poorwomen and was instrumental in forming Vaigai Vattara Kalanjiam, Appantirupathy, which is the First Federation of Rural Women Savings and Credit Group in India. This has a membership of over 40,000 women. The linkages that she has established between the Kalanjiams and the banks and other financial institutions like NABARD, HUDCO etc. has resulted in promotion of income generation for hundreds of poor women to get them rid of the clutches of money-lenders. </p>
					<p>
					She led many struggles to establish the rights and entitlements of poor women against landlords, moneylenders, politicians and officials. The most notable was the right for fishing over the village tank, which was controlled by the landlords.
					</p>
				</div>
			</div>
		</div>
		<!-- End details for portfolio project 2 -->
		<!-- Start details for portfolio project 3 -->
		<div id="slidingDiv2" class="toggleDiv row-fluid single-project">
			<div class="span4">
				<img src="/images/wa/AIR_COMMODORE_PADMAVATHY_BANDOPADHYAYA.jpg" alt="project 3">
			</div>
			<div class="span8">
				<div class="project-description">
					<div class="project-title clearfix">
						<h3>AIR COMMODORE PADMAVATHY BANDOPADHYAYA</h3>
						<span class="show_hide close">
							<i class="glyphicon glyphicon-minus"></i>
						</span>
					</div>
					<div class="project-info">
						<div>
							<span12 style="color:#FECE1A;">Flying  High  with the Air Force!!!!</span12>
						</div>

					</div>

					<p>Coming from a conservative Tamilian family, educated in Tamil, when she joined the AFMC, Bandopadhyaya thought she had been paradropped into a whole new world.</p>
					<p>
					Suddenly she was with people who ate with forks and knives, spoke in English andsang English songs. She could only eat using her fingers, spoke little Hindi or English, and knew no English songs. Today, Bandopadhyaya prattles in Bengali as well - a language she picked up after marrying a Bengali Air Force officer.
					</p>
					<p>
					Trained in Carnatic classical vocal music ("like all south Indian children", she insists), Bandopadhyaya is fond of listening to music and likes mythology as well</p>
					<p>
					After 32 years in the Air Force, is at 55, the first woman Air Commodore in the Air Force. And that is just one of the firsts in a long string of achievements to her credit. She was the first Indian woman officer to have conducted research in the Arctic region. And she was the first woman to be made a fellow of the Aerospace Medical Society of India.
					</p>
				</div>
			</div>
		</div>

		<div id="slidingDiv3" class="toggleDiv row-fluid single-project">
			<div class="span4">
				<img src="/images/wa/RAZIYA SULTANA.png" alt="project 3">
			</div>
			<div class="span8">
				<div class="project-description">
					<div class="project-title clearfix">
						<h3>Raziya Sultana</h3>
						<span class="show_hide close">
							<i class="glyphicon glyphicon-minus"></i>
						</span>
					</div>
					<div class="project-info">
						<div>
							<span12 style="color:#FECE1A;">THE FIRST  WOMAN WHO RULED INDIA</span12>
						</div>

					</div>

					<p>Raziya Sultana succeeded her father Iltutmish to the Sultanate of Delhi in 1236. Iltutmish was the first king to appoint a woman as his official successor. Raziya built schools and libraries, pursued foreign trade and had coins minted in her name with the following inscription 'Pillar of women, Queen of the times'. She dressed like a man , wearing trousers and a turban and kept a sword while she refused to wear the veil. Raziya held court, hunted and led her army. Raziya is the only woman to have ruled Delhi. Although Raziya ruled albeit for four years, she is still known as one of the great queens of India.</p>
					<p>By all accounts Raziya vindicated her father's faith in her. She was a very shrewd ruler, and for all her feminine beauty an autocrat who kept the nobility in their place. The army and the people of Delhi were solidly behind the queen.. She needed all the support she could get for many of her most powerful governors were in revolt against her. It was in tackling them that Raziya gave evidence of her immense sagacity. She played such a skillful game, of political intrigue that very soon the rebels were fighting each other. On the military front, she defeated one of their principal leaders Wazir Muhammad Junaidi so convincingly that he retired from active politics. Soon she was successful in winning over most of the remaining nobles toher side .</p>
				</div>
			</div>
		</div>

		<div id="slidingDiv4" class="toggleDiv row-fluid single-project">
			<div class="span4">
				<img src="/images/wa/ANANDIBAI JOSHI.jpg" alt="project 3">
			</div>
			<div class="span8">
				<div class="project-description">
					<div class="project-title clearfix">
						<h3>ANANDIBAI JOSHI</h3>
						<span class="show_hide close">
							<i class="glyphicon glyphicon-minus"></i>
						</span>
					</div>

					<div class="project-info">
						<div>
							<span12 style="color:#FECE1A;">INDIA’S FIRST WOMEN DOCTOR</span12>
						</div>

					</div>

					<p>Anandibai Joshi is not the name of some social reformer or political leader but of a lady who, despite all odds, achieved her goal through her grit and determination. Anandibai Joshi had the unique distinction of being the first woman ever to go abroad and obtain a degree of Doctor of Medicine from the Woman's Medical College, Pennsylvania, U.S.A., as early as 1886. Her life spans just about twenty-two years, from 1865- 1887. 
					</p>
					<p>
					Hardly has any other life been as short, eventful andrevolutionary as hers. Her husband and her friends advised her to settle down in the United States, but she wanted to serve her own people. She wrote to her friend, "I know the culture and practices of India; therefore, I will be of great help to the Indian women".</p>
					<p>The princely state of Kolhapur, appointed her as the resident Physician-in-charge of the female ward of the Albert Edward Hospital even before she returned to India. (The present Civil Hospital in Kolhapur was formerly known as Albert Edward Hospital). On October 9, 1886 she sailed from New York to practice as India's first woman doctor.</p>
				</div>
			</div>
		</div>

		<div id="slidingDiv5" class="toggleDiv row-fluid single-project">
			<div class="span4">
				<img src="/images/wa/INDIRA GANDHI.jpg" alt="project 3">
			</div>
			<div class="span8">
				<div class="project-description">
					<div class="project-title clearfix">
						<h3>INDIRA GANDHI</h3>
						<span class="show_hide close">
							<i class="glyphicon glyphicon-minus"></i>
						</span>
					</div>
					<div class="project-info">
						<div>
							<span12 style="color:#FECE1A;">“People tend to forget their duties but remember their rights!”</span12>
						</div>

					</div>

					<p>Popularly known as the Iron Lady of India, Indira Gandhi earned a formidable reputation across the globe as a 'statesman'. Her sheer sense of politics and exceptional skills catapulted her position in the Indian politics, so much so that she went on to become the first woman elected to head a democratic country. Till date, she is the only woman to hold the office.
					</p>
					<p>
					Born in a politically influential dynasty and growing in an intense political atmosphere, Indira Gandhi had learned the trick of the trade quite early in life. She battled with the loss of her mother, her frequent illness and all other odds to finish her studies. Her entry into politics happened much early in her life. She possessed an authoritarian streak and became the central figure of the Indian National Congress party, post her father's death. She was known for her political ruthlessness and extraordinary centralization of power.
					</p>
					<p>
					It was during her premiership that India became the regional power in South Asia with considerable political, economic, and military clout. She also presided over a state of emergency and made considerable changes to the Indian Constitution. She used the army to resolve numerous internal disputes and encouraged a culture of sycophancy and nepotism, due to which she rubbed many Indians on the wrong side. Gandhi initialized the Operation Blue Star, which gave her a critical reputation and eventually scripted her assassination. She is considered one of the great Prime Ministers in the world. Her leadership showed path for many. Her works inspired countries.</p>
				</div>
			</div>
		</div>

		<div id="slidingDiv6" class="toggleDiv row-fluid single-project">
			<div class="span4">
				<img src="/images/wa/DR. KIRAN MAZUMDAR-SHAW.jpg" alt="project 3">
			</div>
			<div class="span8">
				<div class="project-description">
					<div class="project-title clearfix">
						<h3>DR. KIRAN MAZUMDAR-SHAW</h3>
						<span class="show_hide close">
							<i class="glyphicon glyphicon-minus"></i>
						</span>
					</div>

					<div class="project-info">
						<div>
							<span12 style="color:#FECE1A;">BIO-TECH QUEEN OF INDIA</span12>
						</div>

					</div>

					<p>She is the Chairman & Managing Director of Biocon Ltd. In 2004, she became India's richest woman.
					</p><p>
					She was educated at the Bishop Cotton Girls School and Mount Carmel College at Bangalore. After obtaining a B. SC Honoursdegree in Zoology from Bangalore University in1973, she joined the Ballarat University in Melbourne, Australia and qualified as a master brewer in 1975 to become India's first woman Brew master. Her father encouraged her in this profession, as he himself was a master brewer in India. Her professional career started with the position of trainee brewer in Carlton and United Beverages in 1974. During 1975-77, she worked in technical positions in Kolkata andVadodara. In 1978 she joined as Trainee Manager with Biocon Biochemicals Limited in Ireland ..
					</p><p>
					Collaborating with the same Irish firm, she founded Biocon India with a capital of Rs.10,0001 - in her garage in 1978. The initial operation was to extract an enzyme from papya. Her application for loans was turned down by banks on three counts - biotechnology was a new word yet; the company lacked assets and most importantly, women entrepreneurs were still a rarity. On account of the last reason, she faced problems in recruiting as well.
					</p><p>
					Over the years, the company grew under her stewardship and is today the biggest biopharmaceutical firm in India.</p>
				</div>
			</div>
		</div>

		<div id="slidingDiv7" class="toggleDiv row-fluid single-project">
			<div class="span4">
				<img src="/images/wa/SHERYL SANDBERG.jpg" alt="project 3">
			</div>
			<div class="span8">
				<div class="project-description">
					<div class="project-title clearfix">
						<h3>SHERYL SANDBERG</h3>
						<span class="show_hide close">
							<i class="glyphicon glyphicon-minus"></i>
						</span>
					</div>

					<div class="project-info">
						<div>
							<span12 style="color:#FECE1A;">“A truly equal world would be one where women ran half our countries and companies and men ran half our homes.”</span12>
						</div>

					</div>

					<p>An American technology executive, activist, and author. As of August 2013, she is the chief operating officer of Facebook. In June 2012, she was elected to the board of directors by the existing board members[4] becoming the first woman to serve on Facebook's board. Before Facebook, Sandberg was Vice President of Global Online Sales and Operations at Google, and was involved in launching Google's philanthropic arm Google.org. Before Google, Sandberg served as chief of staff for the United States Secretary of the Treasury. Sandberg was named one of the "25 Most Influential People on the Web" by Business Week in 2009. </p>
					<p>

					She has been listed as one of the world's 100 most powerful women by Forbes. In 2014, Sandberg was listed as ninth, just behind Michelle Obama. Sheryl Sandberg released her first book, Lean In: Women, Work, and the Will to Lead,</p>
				</div>
			</div>
		</div>



		<!-- End details for portfolio project 3 -->
		<!-- Start details for portfolio project 4 -->

		<!-- End details for portfolio project 9 -->
		<ul id="portfolio-grid" class="thumbnails row">
			<div class="row">
				<li class="span3 mix web">
				<div class="thumbnail">
					<img src="/images/wa/oprah.jpg" width="100%" height="75%" alt="project 1">
					<a href="#single-project" class="more show_hide" rel="#slidingDiv">
						<i class="glyphicon glyphicon-plus"></i>
					</a>
					<h3>Oprah Winfrey</h3>
					<div class="mask"></div>
				</div>
				</li>
				<li class="span3 mix photo">
				<div class="thumbnail">
					<img src="/images/wa/chinnapillai1.jpg" width="100%" height="75%" alt="project 2">
					<a href="#single-project" class="show_hide more" rel="#slidingDiv1">
						<i class="glyphicon glyphicon-plus"></i>
					</a>
					<h3>Mrs.Chinna Pillai</h3>
					<div class="mask"></div>
				</div>
				</li>
				<li class="span3 mix identity">
				<div class="thumbnail">
					<img src="/images/wa/AIR_COMMODORE_PADMAVATHY_BANDOPADHYAYA.jpg" width="100%" height="75%" alt="project 3">
					<a href="#single-project" class="more show_hide" rel="#slidingDiv2">
						<i class="glyphicon glyphicon-plus"></i>
					</a>
					<h4>AIR COMMODORE PADMAVATHY BANDOPADHYAYA</h4>
					<div class="mask"></div>
				</div>
				</li>

				<li class="span3 mix identity">
				<div class="thumbnail">
					<img src="/images/wa/RAZIYA SULTANA.png" width="100%" height="75%" alt="project 3">
					<a href="#single-project" class="more show_hide" rel="#slidingDiv3">
						<i class="glyphicon glyphicon-plus"></i>
					</a>
					<h3>RAZIYA SULTANA</h3>
					<div class="mask"></div>
				</div>
				</li>
			</div>
			<div class="row">

				<li class="span3 mix identity">
				<div class="thumbnail">
					<img src="/images/wa/ANANDIBAI JOSHI.jpg" width="100%" height="75%" alt="project 3">
					<a href="#single-project" class="more show_hide" rel="#slidingDiv4">
						<i class="glyphicon glyphicon-plus"></i>
					</a>
					<h3>ANANDIBAI JOSHI</h3>
					<div class="mask"></div>
				</div>
				</li>

				<li class="span3 mix identity">
				<div class="thumbnail">
					<img src="/images/wa/INDIRA GANDHI.jpg" width="100%" height="75%" alt="project 3">
					<a href="#single-project" class="more show_hide" rel="#slidingDiv5">
						<i class="glyphicon glyphicon-plus"></i>
					</a>
					<h3>INDIRA GANDHI</h3>
					<div class="mask"></div>
				</div>
				</li>

				<li class="span3 mix identity">
				<div class="thumbnail">
					<img src="/images/wa/DR. KIRAN MAZUMDAR-SHAW.jpg" width="100%" height="75%" alt="project 3">
					<a href="#single-project" class="more show_hide" rel="#slidingDiv6">
						<i class="glyphicon glyphicon-plus"></i>
					</a>
					<h3>DR. KIRAN MAZUMDAR-SHAW</h3>
					<div class="mask"></div>
				</div>
				</li>

				<li class="span3 mix identity">
				<div class="thumbnail">
					<img src="/images/wa/SHERYL SANDBERG.jpg" width="100%" height="75%" alt="project 3">
					<a href="#single-project" class="more show_hide" rel="#slidingDiv7">
						<i class="glyphicon glyphicon-plus"></i>
					</a>
					<h3>SHERYL SANDBERG</h3>
					<div class="mask"></div>
				</div>
				</li>
			</div>

		</ul>
	</div>
</div>


<!-- Portfolio starts here -->
<div class= "container" align="center">
	<div class="content-row-class2">       
		<h3 >Women Achievers </h3>    
	</div>
	<hr class="seperate">
	<div class="col-sm-0.5"></div>
	<div class="col-sm-122">
		<!-- <div class="large-10 columns" data-equalizer-watch>-->


		<ul class="portfolio-filter">
			<li><a class="btn btn-link active" href="" data-filter="*">All</a></li> 
			<li><a class="btn btn-link" href="" data-filter=".ss">Social Service</a></li>
			<li><a class="btn btn-link" href="" data-filter=".wih">Women In History!</a></li>
			<li><a class="btn btn-link" href="" data-filter=".emp">Education , media and politics </a></li>
			<li><a class="btn btn-link" href="" data-filter=".tn">Technology</a></li>

		</ul><!--/#portfolio-filter-->
		<ul class="portfolio-items col-5">
			<li class="portfolio-item emp">
			<div class="item-inner">
				<div class="portfolio-image">
					<img src="/images/wa/oprah.jpg" alt="">
					<div class="overlay">
						<a class="preview btn btn-danger" title="“Passion is energy. Feel the power that comes from focusing on what excites you.”" href="/images/wa/screen1.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
					</div>
				</div>
				<h5>Oprah Winfrey</h5>
			</div>
			</li><!--/.portfolio-item-->
			&nbsp;&nbsp;
			<li class="portfolio-item ss">
			<div class="item-inner">
				<div class="portfolio-image">
					<img src="/images/wa/chinnapillai1.jpg" alt="">
					<div class="overlay">
						<a class="preview btn btn-danger" title="SELFLESS AND UNTIRING SERVICE FOR THE POOR WOMEN!!" href="/images/wa/screen2.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
					</div>
				</div>
				<h5>Mrs.Chinna Pillai</h5>
			</div>
			</li><!--/.portfolio-item-->

			<li class="portfolio-item tn">
			<div class="item-inner">
				<div class="portfolio-image">
					<img src="/images/wa/AIR_COMMODORE_PADMAVATHY_BANDOPADHYAYA.jpg" alt="">
					<div class="overlay">
						<a class="preview btn btn-danger" title="Flying  High  with the Air Force!!!!" href="/images/wa/screen3.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
					</div>
				</div>
				<h5>AIR COMMODORE PADMAVATHY BANDOPADHYAYA</h5>
			</div>
			</li><!--/.portfolio-item-->
			<li class="portfolio-item wih">
			<div class="item-inner">
				<div class="portfolio-image">
					<img src="/images/wa/RAZIYA SULTANA.png" alt="">
					<div class="overlay">
						<a class="preview btn btn-danger" title="THE FIRST  WOMAN WHO RULED INDIA!" href="/images/wa/screen4.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
					</div>
				</div>
				<h5>RAZIYA SULTANA</h5>
			</div>
			</li><!--/.portfolio-item-->

			<li class="portfolio-item wih">
			<div class="item-inner">
				<div class="portfolio-image">
					<img src="/images/wa/ANANDIBAI JOSHI.jpg" alt="">
					<div class="overlay">
						<a class="preview btn btn-danger" title="INDIA’S FIRST WOMEN DOCTOR" href="/images/wa/screen5.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
					</div>
				</div>
				<h5>ANANDIBAI JOSHIA</h5>
			</div>
			</li><!--/.portfolio-item-->
			<li class="portfolio-item wih">
			<div class="item-inner">
				<div class="portfolio-image">
					<img src="/images/wa/INDIRA GANDHI.jpg" alt="">
					<div class="overlay">
						<a class="preview btn btn-danger" title="“People tend to forget their duties but remember their rights!”" href="/images/wa/screen6.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
					</div>
				</div>
				<h5>INDIRA GANDHI</h5>
			</div>
			</li><!--/.portfolio-item-->

			<li class="portfolio-item tn">
			<div class="item-inner">
				<div class="portfolio-image">
					<img src="/images/wa/DR. KIRAN MAZUMDAR-SHAW.jpg" alt="">
					<div class="overlay">
						<a class="preview btn btn-danger" title="BIO-TECH QUEEN OF INDIA" href="/images/wa/screen7.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
					</div>
				</div>
				<h5>DR. KIRAN MAZUMDAR-SHAW</h5>
			</div>
			</li><!--/.portfolio-item-->


			<li class="portfolio-item tn">
			<div class="item-inner">
				<div class="portfolio-image">
					<img src="/images/wa/SHERYL SANDBERG.jpg" alt="">
					<div class="overlay">
						<a class="preview btn btn-danger" title="“A truly equal world would be one where women ran half our countries and companies and men ran half our homes.”" href="/images/wa/screen8.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
					</div>
				</div>
				<h5>SHERYL SANDBERG</h5>
			</div>
			</li><!--/.portfolio-item-->



		</ul>   
	</div>




</div>
<!-- Aboutus ends here -->
<!-- Footer starts here-->
<div class="footer">
	<div class="container">
		<div class="row footer-row">
			<div class="col-md-3 footer-row-left">
				<div class="social-media">
					<a target="_blank" href=""><i class="fa1"> </i></a>
					<a target="_blank" href="https://www.facebook.com/AakritiCEG"><i class="fa2"> </i></a>
					<a target="_blank" href="https://plus.google.com/101361044105103349462"><i class="fa3"> </i></a>
					<a target="_blank" href="#"><i class="fa4"> </i></a>
					<a target="_blank" href="#"><i class="fa5"> </i></a>
				</div>
			</div>
			<div class="col-md-3 footer-row-left">
				<div class="email-info">
					<button class="btn btn-link" data-toggle="modal" data-target="#contact">
						Contact Us !!
					</button>

			</div>   </div>
			<div class="col-md-6 footer-row-left">
				<div class="footer-menu">
					<ul>
						<li><a href="/" class="scroll">Home</a></li>
						<li class="active"><a href="/women/index" class="scroll">Women</a></li>
						<li><a href="/trumpet/index" class="scroll">Trumpet</a></li>
						<li><a href="/vogue/index" class="scroll">Vogue</a></li>
						<li><a href="/home/gallery" class="scroll">Gallery</a></li>   
						<li><a href="/home/aboutus" class="scroll">About Us</a></li>  
						<li><a href="/home/members" class="scroll">Members</a></li> 

					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- Footer ends here-->


</div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/main.js"></script></body>



<script src="/js/pluton/jquery.js"></script>
	<script type="text/javascript" src="/js/pluton/jquery.mixitup.js"></script>
	<script type="text/javascript" src="/js/pluton/bootstrap.js"></script>
	<script type="text/javascript" src="/js/pluton/modernizr.custom.js"></script>
	<script type="text/javascript" src="/js/pluton/jquery.bxslider.js"></script>
	<script type="text/javascript" src="/js/pluton/jquery.cslider.js"></script>
	<script type="text/javascript" src="/js/pluton/jquery.placeholder.js"></script>
	<script type="text/javascript" src="/js/pluton/jquery.inview.js"></script>
	<!-- Load google maps api and call initializeMap function defined in app.js -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;callback=initializeMap"></script>
	<!-- css3-mediaqueries.js for IE8 or older -->
	<!--[if lt IE 9]>
	    <script src="js/respond.min.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/js/pluton/app.js"></script>
</html>
