<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Free Bizname Bootstrap Website Template | Portfolio :: w3layouts</title>

<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
<!-- Bootstrap link -->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Bootstrap link  end-->
<!-- CSS stylesheet -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="all" />
<!-- CSS stylesheet end-->
 <!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
    
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!-- Google fonts link start-->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,600italic' rel='stylesheet' type='text/css'>
<!-- Google fonts ends -->
<script src="js/jquery.min.js"></script>
</head>
<body>
<!-- Header starts here -->
			<div class="header">
				<div class="container">
					<div class="logo">
						<a href="/home/index"><img src="/images/logo/logo.png" width="70" height="70"></a>					
						</div>
					<div class="menu">
						<a class="toggleMenu" href="#"><img src="images/nav_icon.png" alt="" /> </a>
								<ul class="nav" id="nav">
								  <li><a href="/home/index" class="scroll">Home</a></li>
								  <li class="current"><a href="/women/index" class="scroll">Women</a></li>
								  <li><a href="/trumpet/index" class="scroll">Trumpet</a></li>
								  <li><a href="/vogue/index" class="scroll">Vogue</a></li>
								  <li><a href="contact.html" class="scroll">Contact</a></li>								
								 </ul>
					</div>
				</div>
			</div>
		<!-- Header ends here -->
		<!-- Portfolio starts here -->
		<div class= "container" align="center">
       
	    <h2 align="center">Women Achievers </h2>    
	    <hr class="seperate">
    <div class="col-sm-0.5"></div>
	    <div class="col-sm-122">
	    <!-- <div class="large-10 columns" data-equalizer-watch>-->
           
                
                <ul class="portfolio-filter">
                    <li><a class="btn btn-link active" href="" data-filter="*">All</a></li> 
                    <li><a class="btn btn-link" href="" data-filter=".ss">Social Service</a></li>
                    <li><a class="btn btn-link" href="" data-filter=".wih">Women In History!</a></li>
                    <li><a class="btn btn-link" href="" data-filter=".emp">Education , media and politics </a></li>
                    <li><a class="btn btn-link" href="" data-filter=".tn">Technology</a></li>

                </ul><!--/#portfolio-filter-->
                <ul class="portfolio-items col-5">
                   <li class="portfolio-item emp">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/oprah.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="“Passion is energy. Feel the power that comes from focusing on what excites you.”" href="/images/wa/screen1.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
                                </div>
                            </div>
                            <h5>Oprah Winfrey</h5>
                        </div>
			</li><!--/.portfolio-item-->
			&nbsp;&nbsp;
                    <li class="portfolio-item ss">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/chinnapillai1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="SELFLESS AND UNTIRING SERVICE FOR THE POOR WOMEN!!" href="/images/wa/screen2.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
                                </div>
                            </div>
                            <h5>Mrs.Chinna Pillai</h5>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item tn">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/AIR_COMMODORE_PADMAVATHY_BANDOPADHYAYA.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Flying  High  with the Air Force!!!!" href="/images/wa/screen3.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
                                </div>
                            </div>
                            <h5>AIR COMMODORE PADMAVATHY BANDOPADHYAYA</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item wih">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/RAZIYA SULTANA.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="THE FIRST  WOMAN WHO RULED INDIA!" href="/images/wa/screen4.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
                                </div>
                            </div>
                            <h5>RAZIYA SULTANA</h5>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item wih">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/ANANDIBAI JOSHI.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="INDIA’S FIRST WOMEN DOCTOR" href="/images/wa/screen5.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
                                </div>
                            </div>
                            <h5>ANANDIBAI JOSHIA</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wih">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/INDIRA GANDHI.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="“People tend to forget their duties but remember their rights!”" href="/images/wa/screen6.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
                                </div>
                            </div>
                            <h5>INDIRA GANDHI</h5>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item tn">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/DR. KIRAN MAZUMDAR-SHAW.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="BIO-TECH QUEEN OF INDIA" href="/images/wa/screen7.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
                                </div>
                            </div>
                            <h5>DR. KIRAN MAZUMDAR-SHAW</h5>
                        </div>
                    </li><!--/.portfolio-item-->


                    <li class="portfolio-item tn">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/SHERYL SANDBERG.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="“A truly equal world would be one where women ran half our countries and companies and men ran half our homes.”" href="/images/wa/screen8.png"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View</a>             
                                </div>
                            </div>
                            <h5>SHERYL SANDBERG</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    
                    
                   
                   </ul>   
         </div>
        

      
        
</div>
<!-- Aboutus ends here -->
		<!-- Footer starts here-->
		<div class="footer">
			<div class="container">
				<div class="row footer-row">
					<div class="col-md-3 footer-row-left">
						<div class="social-media">
							<a href="#"><i class="fa1"> </i></a>
							<a href="#"><i class="fa2"> </i></a>
							<a href="#"><i class="fa3"> </i></a>
							<a href="#"><i class="fa4"> </i></a>
							<a href="#"><i class="fa5"> </i></a>
						</div>
					</div>
					<div class="col-md-3 footer-row-left">
						<div class="email-info">
							<input type="text"size="25px" value="info@companyname.com" onfocus="this.value=''" onblur="this.value='info@companyname.com'" >
						</div>
					</div>
					<div class="col-md-6 footer-row-left">
						<div class="footer-menu">
							<ul>
								  <li><a href="/home/index" class="scroll">Home</a></li>
								  <li class="current"><a href="/women/index" class="scroll">Women</a></li>
								  <li><a href="/trumpet/index" class="scroll">Trumpet</a></li>
								  <li><a href="/vogue/index" class="scroll">Vogue</a></li>
                                  <li><a href="/home/gallery" class="scroll">Gallery</a></li>   
								 </ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				 <p class="footer-row-para">2014 &copy; Template by <a href="http://w3layouts.com/">W3layouts.com</a></p
			</div>
		</div>
		<!-- Footer ends here-->
<script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/main.js"></script></body>
</html>
