<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Contact</h4>
			</div>
			<div class="modal-body">
				<!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
				<div class="border" style="height:320px">
					<iframe width="450" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?hl=en&amp;safe=off&amp;q=Anna+University,+Chennai,+Tamil+Nadu+Arts+%26+Crafts+Store,+College+Bookstore&amp;ie=UTF8&amp;hq=Arts+%26+Crafts+Store,+College+Bookstore&amp;hnear=Anna+University+Parking,+Chennai,+Tamil+Nadu&amp;t=h&amp;iwloc=lyrftr:h,13984805977349966441,13.011347,80.23552&amp;ll=13.011632,80.235783&amp;spn=0.001419,0.002642&amp;output=embed"></iframe><br>
				</div>

				<p>  Phone:
				<strong>1234567890</strong>
				<br> 
				Email:
				<strong><a href="mailto:aakriti.ceg@gmail.com">aakriti.ceg@gmail.com</a></strong>
				<br>
				Address:
				<strong><br>College of Engineering Guindy
					<br>Sardar Patel Rd
					<br>Chennai, Tamil Nadu 600026</strong>
				</p>
			</div>

		</div>
	</div>


</div>