<div class="header">
	<div class="container">
		<div class="logo">
			<a href="/"><img src="/images/logo/logo.png" width="70" height="70"></a>
		</div>
		<!--<div class="menu">
			<a class="toggleMenu" href="#"><img src="images/nav_icon.png" alt="" /> </a>
			<ul class="nav" id="nav">
				<li><a href="/" class="scroll">Home</a></li>
				<li><a href="/women/index" class="scroll">Women</a></li>
				<li><a href="/trumpet/index" class="scroll">Trumpet</a></li>
				<li><a href="/vogue/index" class="scroll">Vogue</a></li>
				<li class="current"><a href="/home/gallery" class="scroll">Gallery</a></li>	
			</ul>
		</div>-->
	</div>
</div>