<!DOCTYPE html>
<html>
<head>
  <title>Aakriti</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/images/logo/fav1.ico">
    
</head>
<body>

<%= yield %>

</body>
</html>
