<!DOCTYPE html>
<html>
<head>
<title>Aakriti</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<link rel="shortcut icon" href="/images/logo/fav1.ico">
<link rel="stylesheet" type="text/css" href="/css/sidebar/normalize.css" />
<link rel="stylesheet" type="text/css" href="/css/sidebar/demo.css" />
<link rel="stylesheet" type="text/css" href="/css/sidebar/icons.css" />
<link rel="stylesheet" type="text/css" href="/css/sidebar/component.css" />
<script src="/js/sidebar/modernizr.custom.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bg/default.css" />
		<link rel="stylesheet" type="text/css" href="/css/bg/component.css" />
		<script src="/js/bg/modernizr.custom.js"></script>
</head>
<body>
<ul id="cbp-bislideshow" class="cbp-bislideshow">
					<li><img src="/images/bg/1.jpg" alt="image01"/></li>
					<li><img src="/images/bg/2.jpg" alt="image02"/></li>
					<li><img src="/images/bg/3.jpg" alt="image03"/></li>
					<li><img src="/images/bg/4.jpg" alt="image04"/></li>
					<li><img src="/images/bg/5.jpg" alt="image05"/></li>
					<li><img src="/images/bg/6.jpg" alt="image06"/></li>
				</ul>

<%= yield %>
<script src="/js/sidebar/classie.js"></script>
<script src="/js/sidebar/sidebarEffects.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<!-- imagesLoaded jQuery plugin by @desandro : https://github.com/desandro/imagesloaded -->
		<script src="/js/bg/jquery.imagesloaded.min.js"></script>
		<script src="/js/bg/cbpBGSlideshow.min.js"></script>
		<script>
			$(function() {
				cbpBGSlideshow.init();
			});
		</script>
</body>
</html>
